.list-group {
	margin: 0;
	padding: 0;
}

.media.list-group-item {
	margin-top: 0;
}

.level-2 {
	margin-left: 58px;
}

.inner-panel {
	margin-top: 7px;
	margin-left: 14px;
	margin-bottom: 7px;
	margin-right: 14px;
}

.advice-audio {
	margin-bottom: 40px;
}

/* Utilities */
.no-space {
	padding: 0;
	margin: 0;
}

p.no-space {
	margin-bottom: 0;
	line-height: 1.4em;
}

.space-hor-normal {
	margin: 12px;
}

.space-top {
	margin-top: 20px;
}

hr {
	color: GhostWhite;
}

.hr-container {
	margin-bottom: 15px;
}

.hr-line {
	margin-bottom: -12px;
}

.hr-text {
	padding-left: 10px;
	padding-right: 10px;
	background-color: white;
}

.panel-comment {
	margin-right: 0;
}

.panel-sign-up-left {
	border-right: 1px solid lavender;
	height: 325px;
}

.panel-sign-up-right {
	border-left: 1px solid lavender;
	height: 325px;
}

.navbar-lang {
	float: left;
	margin-left: -15px;
	padding: 15px 15px;
	line-height: 20px;
	height: 50px;
}

.list-highlight:hover {
	background-color: #f5f5f5;
}

.media-list-highlight {
	padding: 8px 10px;
	margin-bottom: 0;
	border-top: 1px solid #eeeeee;
}

.media-list-highlight:hover {
	background-color: #f5f5f5;
}

.media-subheading {
	margin-top: -5px;
}

.media-content {
	margin-top: 8px;
}

.media-footer {
	color: #999999;
}

.tab-large {
	margin: 0 10px;
}

.tab {
	margin: 0 5px;
}

.tab-small {
	margin: 0 2px;
}

.topictitle-active {
	font-weight: bold;
	text-decoration: underline;
}

.topic-card-green {
	background-color: #339933;
	border: 1px solid #336633;
}

.topic-card-green:hover {
	border-width: 2px;
}

.topic-card-green:active {
	background-color: #336633;
}

.topic-card-blue {
	background-color: #0066CC;
	border: 1px solid #003399;
}

.topic-card-blue:hover {
	border-width: 2px;
}

.topic-card-blue:active {
	background-color: #003399;
}

.topic-card-orange {
	background-color: #CC6600;
	border: 1px solid #663300;
}

.topic-card-orange:hover {
	border-width: 2px;
}

.topic-card-orange:active {
	background-color: #663300;
}

.topic-card-red {
	background-color: #CC0000;
	border: 1px solid #660000;
}

.topic-card-red:hover {
	border-width: 2px;
}

.topic-card-red:active {
	background-color: #660000;
}

.topic-card-purple {
	background-color: #660066;
	border: 1px solid #330033;
}

.topic-card-purple:hover {
	border-width: 2px;
}

.topic-card-purple:active {
	background-color: #330033;
}

.topic-card-yellow {
	background-color: #FFCC00;
	border: 1px solid #CC9900;
}

.topic-card-yellow:hover {
	border-width: 2px;
}

.topic-card-yellow:active {
	background-color: #CC9900;
}

.topic-card-brown {
	background-color: #996600;
	border: 1px solid #993300;
}

.topic-card-brown:hover {
	border-width: 2px;
}

.topic-card-brown:active {
	background-color: #993300;
}

.topic-card-olive {
	background-color: #669900;
	border: 1px solid #666600;
}

.topic-card-olive:hover {
	border-width: 2px;
}

.topic-card-olive:active {
	background-color: #666600;
}

/* by id */
#home {
	padding-top: 20px;
	padding-bottom: 45px;
	margin-top: -20px;
}

#btn_record {
	margin-top: -20px;
	margin-left: 184px;
}

#footer {
	position: relative;
	clear:both;
	background-color: gainsboro;
	padding-top: 22px;
	margin-top: -130px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid silver;
	height: 150px;
}

#profilepicture {
	margin-top: 33px;
}

#main {
	overflow: hidden;
	padding-top: 20px;
	padding-bottom:150px;
	margin-top: -20px;
	min-height: 100%;
}

#notif-new {
	z-index: 2;
	color: #ffffff;
	background-color: #2fa4e7;
	border-color: white;
}

#pagenotitle {
	margin-top: 54px;
}

#ppbar {
	padding: 0;
	margin: -10px;
}

#wrap {
	overflow: hidden;
	padding-top: 20px;
	margin-top: -20px;
	min-height: 100%;
}

#zamrud_point {
	margin-top: 53px;
}

/* override bootsrap */
html, body {
	height:100%;
}

body {
	padding-top: 70px;
}

.carousel-control.right-no-gradient {
	left: auto;
	right: 0;
}

/* tutrial list images
==============================*/
.image_body_list {
	padding: 10px 18px;
	border: 1px solid #d4dce2;
	background-color: #f4f6f7;
}

.tit_tutrial {
	padding-top: 0.2em;
	height: 1.8em;
	font-size: 1.6em;
	color: white;
	border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-bottom: 1px solid #51d44e;
	background: #51d44e;
	background: -moz-linear-gradient(top, #51d44e 0%, #14ac04 100%, #2c8bc7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #51d44e), color-stop(100%, #14ac04), color-stop(100%, #2c8bc7));
	background: -webkit-linear-gradient(top, #51d44e 0%, #14ac04 100%, #2c8bc7 100%);
	background: -o-linear-gradient(top, #51d44e 0%, #14ac04 100%, #2c8bc7 100%);
	background: -ms-linear-gradient(top, #51d44e 0%, #14ac04 100%, #2c8bc7 100%);
	background: linear-gradient(to bottom, #51d44e 0%, #14ac04 100%, #2c8bc7 100%);
}